[submodule "Oasys-PaNOSC-Workspaces"]
	path = Oasys-PaNOSC-Workspaces
	url = https://github.com/PaNOSC-ViNYL/Oasys-PaNOSC-Workspaces.git
[submodule "McStasScript-notebooks"]
	path = McStasScript-notebooks
	url = https://github.com/PaNOSC-ViNYL/McStasScript-notebooks.git
[submodule "SimEx-notebooks"]
	path = SimEx-notebooks
	url = https://github.com/PaNOSC-ViNYL/SimEx-notebooks.git
[submodule "wavefrontDB"]
	path = wavefrontDB
	url = https://github.com/PaNOSC-ViNYL/wavefrontDB.git
